$break-small: 500px;
$break-medium: 768px;
$change-view: 900px;
$shrink-view: 1025px;

* {
  margin: 0;
  padding: 0;
}

.fa-github-square {
  color: #000000;
  display: flex;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-instagram-square {
  color: #bc2a8d;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-envelope-square {
  color: #575757;
}
.fa-file {
  color: #333333;
  // background-color: #dddddd;
  // font-size: 2.2rem;
}

.code-image {
  position: relative;
  text-align: center;

  .fa-code {
    font-size: 36rem;
    color: #468499;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;

    @media (max-width: $change-view) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 500px) {
  .fa-code {
    font-size: 15rem;
  }
}
