$font-stack: "Roboto", sans-serif;
$primary-color: #575757;

.intro-container {
  font-family: $font-stack;

  .name {
    font-size: 3rem;
    color: #333333;

    // font-weight: bold;
  }

  .job-title {
    font-size: 1.5rem;
    color: #333333;
  }

  .description {
    font-size: 1.5rem;
    color: $primary-color;
  }

  .icon-links {
    display: flex;

    .icon {
      font-size: 2.5rem;
      list-style: none;
      margin: 1rem 1.2rem;
    }
  }
}
