$font-stack: "Roboto", sans-serif;
$primary-color: #575757;
$break-small: 500px;
$break-medium: 768px;
$change-view: 900px;
$shrink-view: 1025px;
$adjust-height: 750px;

@mixin transparentBackgroundColor($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.intro-container {
  font-family: $font-stack;
  box-shadow: 4px 4px 4px #dddddd;
  width: 33%;
  position: relative;
  top: 30vh;
  left: 5vw;
  @include transparentBackgroundColor(0.7, #ffffff);

  @media (max-width: $change-view) {
    position: static;
    margin-top: 2.5rem;
    width: 40%;
  }
  @media (max-width: $break-medium) {
    width: 47%;
  }
  @media (max-width: $break-small) {
    width: 80%;
  }

  .name {
    font-size: 3rem;
    color: #333333;

    @media (max-width: $shrink-view) {
      font-size: 1.5rem;
    }
    // font-weight: bold;
  }

  .job-title {
    font-size: 1.5rem;
    color: $primary-color;

    @media (max-width: $shrink-view) {
      font-size: 1rem;
    }
  }

  .description {
    font-size: 1rem;
    color: #333333;

    @media (max-width: $shrink-view) {
      font-size: 0.8rem;
    }
    @media (max-width: $break-medium) {
      width: 100%;
    }
  }

  .icon-links {
    display: flex;

    .icon {
      font-size: 2.5rem;
      list-style: none;
      margin: 1rem 1.2rem;
      display: flex;

      @media (max-width: $break-medium) {
        margin: 1rem 0.7rem;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
      }

      .scaled {
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.3);
        }
      }

      .icon-name {
        font-size: 1rem;
        color: #333333;

        @media (max-width: $shrink-view) {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.about-wrapper {
  font-family: $font-stack;
  background-color: red;
  width: 100%;
  height: 100%;

  // display: none;

  .about-container {
    @include transparentBackgroundColor(0.7, #ffffff);
    padding: 1rem 1rem 5rem 1rem;
    margin-top: 7rem;
    width: 55%;
    height: 60%;
    box-shadow: -1px 4px 4px #dddddd;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    overflow: scroll;

    @media (max-width: $change-view) {
      position: absolute;
      right: 0;
      top: 15rem;
      width: 100%;
    }
    @media (max-height: $adjust-height) {
      height: 35%;
    }
    @media (max-width: $break-small) {
      padding: 0;
      margin-top: 6rem;
      margin-right: 0.1rem;
      height: 41%;
      width: 99%;
      box-shadow: -1px -4px 4px #dddddd;
    }

    // animation: slideOut 2s forwards;

    .about-main {
      display: flex;

      @media (max-width: $break-small) {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
      }
      // align-items: flex-end;

      .about-bio {
        margin: 1rem 2rem;

        @media (max-width: $break-small) {
          margin: 0;
        }
      }
    }

    .image-container {
      @media (max-width: $shrink-view) {
        margin-left: 3rem;
      }
      @media (max-width: $break-small) {
        text-align: center;
        margin: 0;
      }

      img {
        width: 9rem;
        height: 11.7rem;
        border: 1px solid #468499;
        border-radius: 1rem;

        @media (max-width: $break-small) {
          width: 7rem;
          height: 8.7rem;
        }
      }

      p {
        text-align: center;

        @media (max-width: $shrink-view) {
          font-size: 0.7rem;
        }
      }
    }

    .about-me {
      margin: 1rem 0;
      color: #ffffff;
      background-color: #468499;

      @media (max-width: $shrink-view) {
        font-size: 1rem;
      }
      @media (max-width: $break-small) {
        margin: 0.5rem 0;
      }
    }

    .about-description {
      // padding: 0 3rem;
      margin: 0 0 3rem 0;
      color: $primary-color;

      @media (max-width: $shrink-view) {
        font-size: 0.7rem;
      }
    }

    p {
      margin: 0.7rem 0;
      color: $primary-color;

      @media (max-width: $shrink-view) {
        font-size: 0.7rem;
      }
    }
    span {
      color: #000000;
      font-weight: bold;
    }
  }
}

@keyframes slideOut {
  100% {
    right: -100rem;
  }
}
@keyframes slideBackIn {
  0% {
    right: -100rem;
  }
  100% {
    right: 0;
  }
}
