$font-stack: "Roboto", sans-serif;
$primary-color: #575757;

@mixin transparentBackgroundColor($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.intro-container {
  font-family: $font-stack;
  box-shadow: 4px 4px 4px #dddddd;
  width: 33%;
  position: relative;
  top: 30vh;
  left: 5vw;
  @include transparentBackgroundColor(0.7, #ffffff);

  .name {
    font-size: 3rem;
    color: #333333;

    // font-weight: bold;
  }

  .job-title {
    font-size: 1.5rem;
    color: $primary-color;
  }

  .description {
    font-size: 1rem;
    color: #333333;
  }

  .icon-links {
    display: flex;

    .icon {
      font-size: 2.5rem;
      list-style: none;
      margin: 1rem 1.2rem;
      display: flex;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
      }

      .icon-name {
        font-size: 1rem;
        color: #333333;
      }
    }
  }
}

.about-wrapper {
  font-family: $font-stack;
  background-color: red;
  width: 100%;
  height: 100%;

  // display: none;

  .about-container {
    @include transparentBackgroundColor(0.7, #ffffff);
    padding: 1rem 1rem 5rem 1rem;
    margin-top: 7rem;
    width: 55%;
    height: 60%;
    box-shadow: -1px 4px 4px #dddddd;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    // animation: slideOut 2s forwards;

    .about-main {
      display: flex;
      // align-items: flex-end;

      .about-bio {
        margin: 0 2rem;
      }
    }

    .image-container {
      // text-align: center;
      img {
        width: 9rem;
        height: 11.7rem;
        // border-bottom: 0.1rem solid #000000;
        border: 1px solid #468499;
        border-radius: 1rem;
        // background-color: #ffffff;
      }

      p {
        text-align: center;
      }
    }

    .about-me {
      margin: 1rem 0;
      color: #ffffff;
      background-color: #468499;
    }

    .about-description {
      // padding: 0 3rem;
      margin: 0 0 3rem 0;
      color: $primary-color;
    }

    p {
      margin: 0.7rem 0;
      color: $primary-color;
    }
    span {
      color: #000000;
      font-weight: bold;
    }
  }
}

@keyframes slideOut {
  100% {
    right: -100rem;
  }
}
@keyframes slideBackIn {
  0% {
    right: -100rem;
  }
  100% {
    right: 0;
  }
}
