$font-stack: "Roboto", sans-serif;
$primary-color: #575757;
$link-decoration: none;

.nav-container {
  display: flex;
  margin: 2rem;
  justify-content: space-between;

  .nav {
    font-family: $font-stack;
    color: #ffffff;
    text-decoration: $link-decoration;

    &-title {
      color: $primary-color;
    }
  }

  .nav-links {
    display: flex;

    li {
      list-style: none;
      margin: 0 7rem;
      padding: 0.5rem;
      background-color: #468499;
      border-radius: 0.9rem;
    }
  }
}
