$font-stack: "Roboto", sans-serif;
$primary-color: #575757;
$break-small: 500px;
$break-medium: 768px;
$change-view: 900px;
$shrink-view: 1025px;

@mixin transparentBackgroundColor($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.portfolio-main-wrapper {
  // display: none;
  font-family: $font-stack;
  position: absolute;
  width: 58.5%;
  height: 90%;
  top: 0;
  // right: 0;
  scrollbar-width: thin;
  overflow: scroll;
  margin-top: 5.5rem;
  right: -100rem;

  @media (max-width: $change-view) {
    height: 50%;
    width: 100%;
    top: 15rem;
  }

  // animation: slideIn 2s forwards;

  .portfolio-main-container {
    .project-container {
      color: $primary-color;
      display: flex;
      margin: 1rem 1rem 1rem 1rem;
      border-radius: 0.5rem;
      // padding: 1rem;
      box-shadow: 4px 4px 4px 4px #dddddd;
      @include transparentBackgroundColor(0.9, #ffffff);

      @media (max-width: $shrink-view) {
        margin: 1rem 0.5rem;
      }

      img {
        border-radius: 0.5rem 0 0 0.5rem;

        @media (max-width: $break-medium) {
          width: 8rem;
          height: 9rem;
        }
      }

      .project-display {
        margin: 0 0.5rem;
        width: 100%;
        position: relative;
        height: 12rem;
        @media (max-width: $break-small) {
          height: 9rem;
        }

        .title-container {
          text-align: start;
          margin: 0.5rem 0;

          @media (max-width: $break-small) {
            margin: 0.2rem 0;
          }

          h1 {
            font-size: 1.5rem;
            color: #ffffff;
            background-color: #468499;
            display: inline-block;

            @media (max-width: $shrink-view) {
              font-size: 1rem;
            }
            @media (max-width: $break-medium) {
              font-size: 0.875rem;
            }
          }
        }

        .project-description {
          width: 100%;
          height: 43%;
          margin: 0.2rem 0;

          @media (max-width: $shrink-view) {
            font-size: 0.7rem;
          }
          @media (max-width: $break-small) {
            font-size: 0.687rem;
            height: 38%;
          }
        }
        .project-skills {
          color: #468499;
          font-weight: bold;
          margin: 0.2rem 0;

          @media (max-width: $shrink-view) {
            font-size: 0.7rem;
          }
          @media (max-width: $break-medium) {
            font-size: 0.687rem;
          }
        }
        .project-buttons {
          height: 20%;
          margin: 0.2rem 0;
          position: absolute;
          bottom: 0;

          button {
            color: #ffffff;
            background-color: #468499;
            padding: 0.5rem;
            margin: 0.3rem;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }

            @media (max-width: $shrink-view) {
              font-size: 0.75rem;
            }
            @media (max-width: $break-small) {
              margin: 0 0.3rem;
              padding: 0.3rem;
            }
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100rem);
  }
}

@keyframes slideBackOut {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0);
  }
}
